html {
  font-family: "Noto Serif", serif;
}

header {
  background-color: #70ad55;
  color: #fff;
}

textarea {
  height: 10em;
}

input,
textarea,
select {
  border: solid 2px #6e8c62;
}

hr {
  border: solid 1px #70ad55;
}

.btn {
  padding: 10px 45px;
  background-color: #6e8c62;
  border-color: #6e8c62;
}

footer {
  background-color: #70ad55;
  color: #fff;
}
