html {
  font-family: 'Noto Serif', serif;
}

header {
  background-color: #70ad55;
  color: #fff;
}

body {
  margin: 0;
}

textarea {
  height: 10em;
}

input,
textarea,
select {
  border: solid 2px #6e8c62;
}

hr {
  border: solid 1px #70ad55;
}
